body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.main {
  flex: 1;
}

h1 {
  font-size: 5rem;
}

span {
  color: chocolate;
}

.card {
  display: inline-block;
  width: 46%;
}

.card img {
  /* height: 200px;
  width: 200px; */
  width: 46%;
  float: left;
  margin-right: 8%;
}

/* .card p {
  padding: 3%;
} */
.left {
  float: left;
}

.right {
  float: right;
}

footer {
  text-align: right;
  color: midnightblue;
}

/* 426, 768 */

@media (min-width: 426px) and (max-width: 768px) {
  h1 {
    font-size: small;
  }
}
